.header {
    top: 0;
    position: sticky;
    z-index: 1000;
    padding: 25px 20px;
    background: #f9f9f9;
    box-shadow: 2px 4px 12px #000;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
        font-family: "Courier New", Courier, monospace;
        font-size: 30px;
    }
}

.backpack {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    h3 {
        font-size: 18px;
    }
}