.pokemons {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: black;
}

.center {
    img {
        animation: rolling 1s infinite linear;
        width: 4rem;
        height: 4rem;
    }
}

@keyframes rolling {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}